// =============================================================================
// Медиа запросы
// =============================================================================

// small mobile
@mixin sm_mobile() {
    @media screen and (min-width: 0) {
        @content;
    }
}

// large mobile
@mixin lg_mobile() {
    @media screen and (min-width: 375px) {
        @content;
    }
}

// tablet
@mixin tablet() {
    @media screen and (min-width: 768px) {
        @content;
    }
}

//laptop, large tablet
@mixin laptop() {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

//desktop
@mixin desktop() {
    @media screen and (min-width: 1366px) {
        @content;
    }
}