@import 'mixins';
@import 'mixins_breakpoints';
@import 'variables_front';
@import 'typography';

@include resset();

.template-quiz-promo2 {
    position: relative;
    
    .sm_mobile {
        display: none;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,0);

        @include sm_mobile() {
            display: block;
        }
        @include lg_mobile() {
            display: none;
        }
    }
    .lg_mobile {
        display: none;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,0);

        @include sm_mobile() {
            display: none;
        }
        @include lg_mobile() {
            display: block;
        }
        @include tablet() {
            display: none;
        }
    }
    .tablet {
        display: none;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,0);

        @include sm_mobile() {
            display: none;
        }
        @include lg_mobile() {
            display: none;
        }
        @include tablet() {
            display: block;
        }
        @include laptop() {
            display: none;
        }
    }
    .laptop {
        display: none;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,0);

        @include sm_mobile() {
            display: none;
        }
        @include lg_mobile() {
            display: none;
        }
        @include tablet() {
            display: none;
        }
        @include laptop() {
            display: block;
        }
        @include desktop() {
            display: none;
        }
    }
    .desktop {
        display: none;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,0);

        @include sm_mobile() {
            display: none;
        }
        @include lg_mobile() {
            display: none;
        }
        @include tablet() {
            display: none;
        }
        @include laptop() {
            display: none;
        }
        @include desktop() {
            display: block;
        }
    }
}

body{
    font-family: $proxima;
    color: $grey;
    line-height: 1.2;
    font-size: rem(16);
    font-weight: 300;
}

.input{
    height: rem(56);
    font-family: $lato;
    font-weight: 400;
    color: $grey_light;
    padding: 0 rem(24);
    border-radius: rem(8);
    background-color: #eeeeee;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;

}

button:disabled,
button[disabled]{
  cursor: default !important;
}

.btn{
    height: rem(56);
    background: $red;
    background-image: linear-gradient(180deg, #dc1414 0%, #c60201 100%);
    color: #fff;
    font-family: $lato;
    font-size: rem(18);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(32);
    border-radius: rem(8);
    border: none;
    box-sizing: border-box;
    letter-spacing: rem(-0.2);
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }
  
    &:hover {
        &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.btn-pulse{
    overflow: hidden;
    position: relative;
    &::before{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        width: 50px;
        z-index: 1;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        animation-delay: 0.01s;
        animation-timing-function: ease-in-out;
        animation-name: radiance;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        opacity: 0.2;
    }
}

@-webkit-keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.close{
    position: absolute;
    height: rem(20);
    right: rem(15);
    top: rem(15);
    z-index: 10;
    cursor: pointer;
    transition: all .33s ease-out;

    &:hover{
        transform: rotate(90deg);
    }
}

.modal{

    &-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .3s ease;
    }

    &-container {
        max-width: 300px;
        width: 100%;
        padding: rem(30) rem(20);
        background-color: #fff;
        border-radius: rem(8);
        box-shadow: 0 rem(2) rem(8) rgba(0, 0, 0, .33);
        transition: all .3s ease;
        position: relative;

        .form{
            .input{
                background-color: #eeeeee;
                width: 100%;
                margin-top: rem(16);
                margin-bottom: rem(16);
            }
            .btn{
                width: 100%;
                margin-bottom: rem(16);
            }
        }
    }

    &-title{
        font-size: rem(28);
        font-weight: 700;
        color: #505050;
        letter-spacing: rem(-0.3);
        margin-bottom: rem(22);
        text-align: center;
    }

    &-intro{
        text-align: center;
    }

    &-marck{
        color: $blue;
    }

    //animation
    &-enter {
        opacity: 0;
    }

    &-leave-active {
        opacity: 0;
    }

    &-enter &-container,
    &-leave-active &-container {
        transform: scale(1.1);
    }
    //end animation
}

.header{
    font-family: $lato;
    font-weight: 400;
    overflow: hidden;
    background-color: #fff;
    z-index: 500;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        position: relative;
        height: rem(82);
        padding-top: rem(16);
        padding-bottom: rem(20);
        box-sizing: border-box;

        &_item{
            @include col();
            display: flex;
            align-items: center;
        }
    }
    .logo{
        @include size(12);
        @include size-md(6);
    }
    .contact{
        @include size(12);
        @include size-md(18);
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        order: 2;
        position: relative;
        z-index: 501;
        
        @include above($break_sm) {
            flex-direction: row;
            order: 0;
            justify-content: flex-end;
            align-items: center;
            padding-top: rem(14);
            padding-bottom: rem(14);
        }
    }

    .phone{
        display: flex;
        font-size: rem(15);
        line-height: 1;
        align-items: center;
        svg{
            margin-right: rem(6);
        }
    }
    .callback{
        display: flex;
        font-size: rem(15);
        letter-spacing: rem(-0.2);
        color: $red;
        position: relative;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            height: rem(1);
            width: 100%;
            background: $red;
            bottom: rem(0);
            transition: all .2s;
        }
        &:hover::before{
            bottom: rem(-2);
        }

        @include lg_mobile() {

        }

        @include tablet() {
            font-size: rem(16);
            margin-right: 0;
        }
    }
}

.hero{
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 1.5rem;
    
    @include above($break_sm) {
        text-align: left;
    }

    &__wrapper{
        @include wrapper();
        min-height: calc(100vh - 82px - 1.5rem);
        display: flex;
        // align-items: center;
        justify-content: center;
        @include above($break_sm) {
            box-sizing: border-box;
        }

        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            max-width: $break_lg;
            background-image: url('img/banner/home_banner.jpg');
            background-size: cover;
            background-position: center;

            @include above($break_md) {
                left: rem(30);
                right: rem(30);
                width: calc(100% - #{rem(60)});
            }
            @include above($break_lg) {
                left: 0;
                right: 0;
                width: 100%
            }
        }
    }
    &__items{
        @include row-flex();

        &_item{
            @include col(); 
            @include size(24);
            @include size-md(20);
            @include offset-md(2);
            @include size-lg(18);
            @include offset-lg(3);
        }
    }

    &_intro{
        font-size: rem(10);
        letter-spacing: rem(4);
        text-transform: uppercase;
        margin-top: rem(16);

        @include lg_mobile() {
            font-size: rem(10);
            letter-spacing: rem(4);
            text-transform: uppercase;
            margin-top: rem(16);
        }

        @include tablet() {
            font-size: rem(16);
            letter-spacing: rem(10);
        }

        @include laptop() {
            font-size: rem(20);
            letter-spacing: rem(12);
        }
    }
    &_title{
        width: rem(280);
        margin: rem(50) 0 0;
        font-size: rem(21);
        font-weight: 700;
        line-height: rem(32);
        letter-spacing: rem(-0.6);

        @include lg_mobile() {
            width: rem(328);
            margin: rem(68) 0 0;
            font-size: rem(24);
            font-weight: 700;
            line-height: rem(32);
            letter-spacing: rem(-0.6);
        }

        @include tablet() {
            font-size: rem(52);
        }
        @include desktop() {
            font-size: rem(58);
        }
    }

    &_question {
        font-size: rem(14);
        margin-top: rem(18);
        line-height: rem(24);

        @include lg_mobile() {
            width: rem(304);
            margin: rem(18) 0 0;
            font-size: rem(14);
            line-height: rem(24);
        }
    }

    .btn{
        margin-top: rem(62);
        max-width: rem(320);
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include lg_mobile() {

        }

        @include above($break_sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }

}

.radio{
    position: relative;
    cursor: pointer;
    font-size: rem(18);
    display: flex;
    align-items: center;
}
  
.label{
    position: relative;
    margin-right: rem(10);
    width: rem(16);
    height: rem(16);
    border: rem(1) solid $border_radio;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;

    &:after{
        content: '';
        position: absolute;
        top: rem(3);
        left: rem(3);
        width: rem(8);
        height: rem(8);
        background: $red;
        border-radius: 50%;
        transform: scale(0);
        transition: all .2s ease;
        pointer-events: none;
    }
      
    &:hover .label:after{
        transform: scale(3.6);
    }
      
}
    
input[type="radio"]:checked + .label {

    &:after{
        transform: scale(1);
        transition: all .2s cubic-bezier(.35,.9,.4,.9);
        opacity: 1;
    }
}

.hidden{
    display: none;
}

.mark{
    color: $red;

    &_orange{
        color: $orange;
    }
}

.quest{

    &__wrapper{
        @include wrapper();
        min-height: 100vh;
        display: flex;
        // align-items: center;
        justify-content: center;
        padding-top: rem(64);
        padding-bottom: rem(40);
        box-sizing: border-box;
    }

    &__items{
        max-width: rem(400);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: rem(500);

        &_item{
            @include col();
            @include size(24);

            &.finish{
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    &_intro{
        font-size: rem(12);
        letter-spacing: rem(4);
        text-transform: uppercase;
        margin-bottom: rem(8);
        @include above($break_sm) {
            font-size: rem(16);
            letter-spacing: rem(10);
            margin-bottom: rem(16);
        }
        @include above($break_md) {
            font-size: rem(20);
        }

        &.finish{
            text-align: center;
        }
    }

    &_title{
        font-size: rem(28);
        margin-bottom: rem(24);
        font-weight: 600;
    }

    &_info{
        margin-bottom: rem(24);
    }

    &__list{

        &.two_columns{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 50%;
            }
        }
        li{
            margin-bottom: rem(16);

            .rub{
                font-style: normal;
                margin-left: rem(4);
            }
        }
    }

    &__control{
        display: flex;
        margin-top: rem(24);
        .btn_prev{
            background: $border_radio;
            position: relative;
            overflow: inherit;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: rem(-4);
                width: rem(8);
                background-color: $border_radio;
                z-index: -1;
            }
            &::after{
                display: none;
            }
        }
        .btn_next{
            max-width: rem(300);
            width: 100%;
        }
    }
}

.gifts{
    position: relative;


    &_img{
        border-radius: rem(9);
        cursor: pointer;
        box-sizing: border-box;
    }

    &__paginated{
        margin-top: rem(16);
        display: flex;
        justify-content: center;

        &_dot{
            height: rem(8);
            width: rem(8);
            margin: 0 rem(4);
            border-radius: 100%;
            box-sizing: border-box;
            background-color: #e6e8ea;

            &.active{
                background-color: $red;
            }
        }
    }
}
